.search {

    padding-bottom: 17%;    text-align: left;font-family:Robot;
  
}
.search a {
    color: #fff;
    font-size: 57px;text-decoration: none;font-family:Robot;
}
.sony-logo img{
width:80px;
height: 100px;
}
.pos-abs {
    position: absolute;
}
.sign_text {
    font-size: 38px;
    line-height: 72px;
    color: #fff;margin-bottom: 21px;font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-family: Roboto;
}
.color a {
    color: #fff;
    font-size: 57px;text-decoration: none;
}
.color {
  
    padding-bottom: 17%;
    padding-top: 6%;
}
.mt {
    padding-top: 6%;    padding-left: 3%;padding-right: 3%;
}
.continue:hover,.continue:focus, {
    background:none; outline: none;
   
}
.continue:active:focus,.continue:active,.continue:focus {
    background: #fa5000;outline: none;color: #fff;
}
.continue {
    text-align: center;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    font-size: 36px;
    color: #514a4d;border: solid 2px #524c4f;
    background: rgba(216, 216, 216, 0);margin-top: 52px;
}
.continue:hover {
    background:none; outline: none;
   
}
.continue:active:focus,.continue:active,.continue:focus {
    background: #fa5000;outline: none;color: #fff;
}

li.active img  {
    border: solid 3px #fa5000;
    transform: scale(1.1);
    background: none;
}
.navbar-default .navbar-nav>.active>a {
    background: none;
}
.navbar-default .navbar-nav>.active>a,.navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}
.menu-title {
    font-size: 36px;color:#fff;opacity: 0.5;
    font-family: Roboto;
}