.ui-keyboard {
   
    /* position: absolute; */
    top: 40%;

    left: 23%;
    background: #252628;
}
.ui-keyboard-preview-wrapper .form-control {
  
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: inherit;
    background: #252628;
    color: #ccc;
} 
.ui-keyboard-preview-wrapper .form-control:focus{
    border-color: none;
    box-shadow: none;

}
.ui-keyboard-button {
    height: 99px;
    min-width:4.3em;
   
    background: #3A3A3C;
    border: none;
}
.ui-keyboard-button span {
    color: #ccc;
    
}
.ui-keyboard-meta1 {
    border: 1px solid red;
    width: 11em;
}
.ui-keyboard div {
    padding-bottom: 14px;
}
.ui-keyboard-space {
    width: 500px;
}
.ui-keyboard-button:active {
    background: linear-gradient(#e9a339, #EDB65A);
    color:#000;
}
.ui-keyboard-button span:focus {
    color: #000;
}

