<!DOCTYPE html>
<html lang="en">

<head>
    <title>Homemenu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link href="../css/font.css" rel='stylesheet'>

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/detail.css">
    <style>



    </style>




</head>

<body style="background-color: #000;overflow: hidden;">

    <div class="container-fluid">

        <div class="row">
            <div class="row pos-abs"><img src="../img/detail.jpg" class="img-responsive lazy" alt="background" />
            </div>


            <div class="row mt">

                <div class="col-sm-6">

                    <h1 class="search"> <a href="" target="_self"> Search</a></h1>


                    <!---- banner text --->
                    <div class="banner-section">
                        <div class="rent" tabindex="1">
                            <img src="../img/icon/on-rent.png"> </div>
                        <h1 tabindex="2"> Django Unchained</h1>
                        <p tabindex="3" class="duration"> Drama.Hinidi.2h 45m.2017</p>
                        <p tabindex="4" class="description">Bhallaladeva conspires against his brother to become the king of Mahishmati. He soon gets him killed by Katappa and imprisons his wife. Years later, the son returns to avenge his father's death.</p>

                        <div class="btn-group">
                            <a href="#" class="btn normal">RENT FOR 120</a>
                            <a href="#" class="btn default">GO PREMIUM</a>
                        </div>


                    </div>
                    <!---- banner  end text --->
                </div>

                <div class="col-sm-6 text-right sony-logo">
                    <img src="../img/sony_logo.png" />
                </div>


            </div>
            <div class="row menu-scroll">







                <!-------------------   Menu ------------------->




                <nav class="navbar navbar-default menu_icon menu-hide-scrool">
                    <p class="menu-title"> Menu</p>
                    <div class="navbar-header">
                        <!-- <a class="navbar-brand" href="#">Menu</a>-->
                    </div>
                    <div id="slider">
                        <ul class="nav navbar-nav">


                            <li id="border" class="active"><a href="#"><img src="../img/image.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>

                            <li><a href="#"><img src="../img/image2.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>
                            <li><a href="#"><img src="../img/image2.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>
                            <li><a href="login.html"><img src="../img/image2.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>

                        </ul>
                    </div>
                </nav>


                <nav class="navbar navbar-default menu_icon menu-hide-scrool" id=thing-to-hide>
                    <p class="menu-title"> Menu</p>
                    <div class="navbar-header">
                        <!-- <a class="navbar-brand" href="#">Menu</a>-->
                    </div>
                    <div id="slider2">
                        <ul class="nav navbar-nav">

                            <li class="active1"><a href="#"><img src="../img/image.png" /></a></li>
                            <li><a href="#"><img src="../img/image.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>

                            <li><a href="#"><img src="../img/image2.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>
                            <li><a href="#"><img src="../img/image2.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>
                            <li><a href="login.html"><img src="../img/image2.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>
                            <li><a href="#"><img src="../img/image1.png" /></a></li>

                        </ul>
                    </div>
                </nav>
            </div>


        </div>



    </div>

    <script>



    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <!-- <script data-main="script/main" src="script/require.js"></script>-->

    <!-- <script data-main="script/script" src="script/require.js"></script>-->

    <!--<script src="js/jquery-latest.min.js"></script>-->
    <script src="../script/jquery.min.js"></script>

    <script src="../script/bootstrap.min.js"></script>

    <script src="../script/jquery.keyboard.js"></script>

    <!-- keyboard extensions (optional) -->
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.keyboard.extension-previewkeyset.js"></script>

    <!--<script src="script/jquery.virtual_keyboard.js"> </script>-->
    <!--<script src="js/jquery-latest.min.js"></script>-->


    <script src="../script/script.js"></script>
</body>

</html>
