<!DOCTYPE html>
<html lang="en">

<head>
        <script>

            
            
                window.onload = function() {
                    setTimeout(function() {
                        window.location = "../index.html";
                }, 5000);
                };
            
            </script>

   


</head>

<body style="background:#000;position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);">
 <div style="box-shadow:10px 16px 289px 71px #5a5a5a;">

<img src="../img/flash.png" />
 </div>
  

   
</body>

</html>