<!DOCTYPE html>
<html lang="en">

<head>
    <title>login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link href="../css/font.css?family=Roboto'" rel='stylesheet'>
    <!-- <link href="css/jquery.virtual_keyboard.css">-->
    <link  rel="stylesheet" href="../css/keyboard.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css"><link rel="stylesheet" href="css/virtualkeyboard.css">
   


</head>

<body style="background-color: #000">

    <div class="container-fluid">

        <div class="row">
            <div class="row pos-abs"><img src="../img/rectangle.png" class="img-responsive" alt="background" />
            </div>


            <div class="row mt">

                <div class="col-sm-6">
                    <h1 class="color"> <a href="" target="_self"> Sign In</a></h1>
                </div>

                <div class="col-sm-6 text-right sony-logo">
                    <img src="../img/sony_logo.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <div class="facebook">
                        <button style="font-size:24px" class="facebook_bg"> <i style="font-size:35px" class="fa fa-facebook-square">&nbsp
                                &nbsp
                                <span>Continue with facebook</span></i></button>
                    </div>
                    <div class="or">
                        <span class="col-sm-4 border-bt"> </span> <span class="col-sm-4 text-center"> or</span> <span class="border-bt col-sm-4"></span>

                    </div>
                    <form>
                        <div class="form-group">
                            <label for="email" class="sign_text">Sign In with Email/Mobile</label>
                            <input type="email" class="form-control keyboard" id="email">
                        </div>


                        <button type="button" class="btn  btn-default  continue" onclick="login();">CONTINUE</button>
                    </form>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>



    </div>



    <!-- <script data-main="script/script" src="script/require.js"></script>-->
   
	<!--<script src="js/jquery-latest.min.js"></script>-->
    <script src="../script/jquery.min.js"></script>

    <script src="../script/bootstrap.min.js"></script>

    <script src="../script/jquery.keyboard.js"></script>

    <!-- keyboard extensions (optional) -->
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.keyboard.extension-previewkeyset.js"></script>

    <!--<script src="script/jquery.virtual_keyboard.js"> </script>-->
    <!--<script src="js/jquery-latest.min.js"></script>-->


    <script src="script/script.js"></script>

</body>

</html>