<!DOCTYPE html>
<html lang="en">

<head>
    <title>otp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/otp.css">
    <link rel="stylesheet" href="css/login.css">


</head>

<body style="background-color: #000">

    <div class="container-fluid">

            <div class="row">
            <div class="row pos-abs"><img src="img/rectangle.png " class="img-responsive" alt="background" />
            </div>
ß

            <div class="row mt">

                <div class="col-sm-6">
                    <h1 class="color"> <a href=" " target="_self"> Sign In</a></h1>
                </div>

                <div class="col-sm-6 text-right sony-logo">
                    <img src="img/sony_logo.png " />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <div class="otp_message">
                        <p class="otp-style">Verify your Number</p>
                        <p class="otp-message-txt"> We’ve sent an OTP to <span>+91 9920655166</span></p>
                    </div>
                    <div class="or">
                        <span class="col-sm-12 border-bt"> </span>

                    </div>
                    <form>
                        <div class="form-group">
                            <label for="text" class="sign_text">Enter OTP</label>
                            <input type="text" class="form-control" id="email">
                        </div>

                        <div class="text-center resend_otp row"><span> <a href="#">Resend OTP </a> &nbsp &nbsp</span> <span class="otp_timmer">0:34</span> </div>
                        <button type="button" class="btn btn-default continue">SIGN IN</button>
                    </form>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>



    </div>



    <!--<script data-main="script/main" src="script/require.js"></script>-->
   
    <script src="script/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/script.js"></script>

</body>

</html>